.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align:justify ;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50px;
  position: relative;
  left: 40%;
  top: 180px;
  
  
}
.buttonE{
  background-color: #0055FF; 
}

.text1{
font-size:16px;
  margin: 4px 2px;
  width: 280px;
  height:40px;
  position: relative;
  left: 40%;
  top: 180px;

  }
  p {
    color: red;
  font-size:20px;
  font-style:italic;
  font-weight: bold;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
   position: relative;
  left: 40%;
  top: 170px;

}

